.main {
  height: calc(100vh - 65px);
  overflow: hidden;
}

.container {
  height: 100%;
}

.slides {
  display: flex;
  overflow-x: auto;
  min-width: 0;
  height: 100%;
}

.slide {
  position: relative;
  min-width: 100vw;
  flex-shrink: 0;
  height: 100%;
}

.slide-content {
}

.slide-declaration {
  position: absolute;
  right: 400px;
  top: 49.7vh;
  font-size: 30px;
  font-weight: bold;
}
