.container {
  position: relative;
  width: 300px;
  margin: 50px 0;
  // direction: rtl;

  &.vertical {
    height: 200px;
  }
}

.scroll-container {
  display: flex;
  overflow-x: auto;
  // direction: rtl;

  &.vertical {
    flex-direction: column;
    overflow-x: visible;
    overflow-y: auto;
    height: 100%;
  }
}

.item {
  padding: 15px 20px;
  margin: 5px;
  white-space: nowrap;
  border-radius: 10px;
  background: #f7f7f7;
}
