.main {
  height: calc(100vh - 65px);
  overflow: hidden;
}

.container {
  height: 100%;
}

.slides {
  display: flex;
  overflow-x: auto;
  min-width: 0;
  height: 100%;
}

.slide {
  min-width: 100vw;
  flex-shrink: 0;
  height: 100%;
}

.slide-content {
}
