.container {
  position: relative;
  width: 100%;
}

.list {
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  pointer-events: none;
  z-index: 50;

  display: none;

  &.active {
    display: block;
  }

  &[data-focus-visible-added] {
    outline: 3px solid #000;
    outline-offset: 1px;
  }
  &::before {
    position: absolute;
    content: "";
    top: 0px;
    left: 2px;
    right: 2px;
    height: 2px;
    background: #fff;
    z-index: 2;
  }

  &::after {
    position: absolute;
    content: "";
    top: 9px;
    left: 1px;
    right: 1px;
    height: calc(100% - 12px);
    box-shadow: 0 5px 18px 0px #22243ab8;
    border-radius: 10px;
  }

  .list-inner {
    position: relative;
    height: 100%;
    border: 2px solid #bcb7d4;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background: #fff;
    overflow: hidden;
    z-index: 1;
  }
}

.list-item {
  padding: 10px;
  pointer-events: all;
  cursor: pointer;
  background: #fff;
  transition: background-color 200ms, color 200ms;

  &:hover {
    background: #dbd8eb;
  }
  &.active {
    color: #fff;
    background: #605d6e;
  }
}

.btn {
  border: 1px solid #9d9d9d;
  background: #fff;
  border-radius: 10px;
  text-align: left;
  width: 100%;
  font-size: 16px;
  padding: 5px 10px;

  &.active {
    box-shadow: 0 3px 0px 2px rgb(10 10 60 / 17%), 0 20px 0 -2px #fff,
      0 20px 0 0px #bcb7d4;
  }
}

.btn-fake {
  text-align: left;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  border: 2px solid #636363;
  background: #fff;
  border-radius: 10px;
  padding: 9px;
  z-index: 51;

  display: none;

  &.active {
    display: block;
  }
}

.btn,
.btn-fake {
  &:hover {
    background: rgb(243, 243, 243);
  }
}
