:root {
  --brand: #252a44;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--brand);
  background: #fff;
  color: #000;
  font-size: 18px;
  padding-top: 65px;
  height: 2000px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
html {
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

select {
  font-size: 20px;
}

input[type="color"] {
  height: 50px;
  width: 50px;
  padding: 10px;
  font-size: 18px;
}
button {
  padding: 10px;
}

.section {
  margin: 10px 0;
}

.foo {
  background: url("./assets/emojiis/dragon_1f409.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.my-shadow {
  transition: 2s transform;
}

.my-shadow-init {
  transition: none;
}

.my-shadow-show {
  transform: translateX(0%);
}

.my-shadow-hide {
  transform: translateX(100%);
}
.my-shadow-hide[first] {
  transform: translateX(-100%);
}

li {
  list-style-type: none;
}

input,
button {
  outline: none;
  &[data-focus-visible-added] {
    outline: 3px solid #000;
    outline-offset: 4px;
  }
}

button {
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
  appearance: none;
}

.btn {
  appearance: none;
  background: #fff;
  font-weight: bold;
  font-size: 18px;
  border: 1px solid #bcb7d4;
  border-radius: 9px;
  padding: 12px 28px;
  box-shadow: 0 6px 0 0 #bcb7d4, 0 7px 4px 0px #121438, 0 8px 0 6px #eae9ef;
}

.section {
  display: inline-block;
  margin: 20px;
  width: 250px;
  font-size: 18px;
}

.pcr-app {
  box-shadow: 0 10px 1.5em 0 rgb(0, 0, 0, 0.5);
  border-radius: 10px;
}
