@font-face {
  font-family: "Shippori Antique B1";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("./font.woff2") format("woff2"); /* Chrome 26+, Opera 23+, Firefox 39+, Safari 10+ */
}
