.App {
  text-align: center;
}

* {
  box-sizing: border-box;
}

button {
  background: none;
  padding: 0;
  position: relative;
  font-size: inherit;
  cursor: pointer;
  margin: 0;
  appearance: none;
  border: none;
  outline: none;
}

.main {
  width: 90%;
  max-width: 1000px;
  margin: auto;
}

.logo {
  animation: logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.shadow {
  // for color gradient
  // include alpha value
  // in order to render properly
  // in Safari
  background-image: linear-gradient(
    to left,
    rgb(30 41 124 / 100%),
    rgb(30 41 124 / 0%)
  );
  width: 80px;
  height: 100%;
}

.shadow-column {
  // for color gradient
  // include alpha value
  // in order to render properly
  // in Safari
  background-image: linear-gradient(
    to top,
    rgb(30 41 124 / 100%),
    rgb(30 41 124 / 0%)
  );
  width: 100%;
  height: 50px;
}

.shadow-green {
  // for color gradient
  // include alpha value
  // in order to render properly
  // in Safari
  background-image: linear-gradient(
    to left,
    rgba(2, 205, 5, 1),
    rgba(2, 205, 5, 0)
  );
  width: 80px;
  height: 100%;
}

.enter {
  transform: translateX(0%);
}

.exit {
  transform: translateX(100%);
}

.enter,
.exit {
  transition: transform 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.shadow-block {
  background: rgba(200, 5, 5, 1);
  width: 80px;
}

.shadow-vertical {
  // for color gradient
  // include alpha value
  // in order to render properly
  // in Safari
  background-image: linear-gradient(
    to top,
    rgba(200, 5, 5, 1),
    rgba(200, 5, 5, 0)
  );
  width: 100%;
  height: 50px;
}

.shadow-block-vertical {
  background: rgba(200, 5, 5, 1);
  height: 50px;
}

.link {
  color: #b318f0;
}

.btn-fusion {
  position: relative;
  display: inline-block;
  height: 60px;
  padding: 8px;
  padding-left: 10px;
  width: 100%;

  .select {
    position: absolute;
    top: 8px;
    left: 0;
    bottom: 15px;
    width: 70px;
    padding-left: 10px;
    z-index: 2;
    pointer-events: none;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .btn-inner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;

    .selected-icon {
      padding: 6px;
      height: 100%;
    }

    .arrow-container {
      flex-shrink: 0;
      width: 15px;
      padding: 0 2px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-left: 2px solid #00000052;
    }
  }

  .text-wrapper {
    display: inline-block;
    position: relative;
    padding-left: 75px;
    padding-right: 50px;
    pointer-events: none;
    width: 100%;
    z-index: 1;
  }

  .text-scroll-container {
    display: inline-block;
    padding: 8px 5px;
    padding-top: 5px;
    margin-top: 4px;
    background: var(--bg);
    border-radius: 5px;
    box-shadow: 0 -5px 0 0px var(--dark-grey);
    pointer-events: all;
    transition: box-shadow 250ms;
    overflow-x: auto;
    width: 100%;
  }

  .text-content {
    font-size: 3.7vw;
    white-space: nowrap;
  }

  .btn-fusion-icon {
    position: relative;
    width: 35px;
    height: 35px;
    color: #000;

    span {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &:hover {
    .text-scroll-container {
      box-shadow: 0 -5px 0 0px var(--hovered-grey);
    }
  }

  .text-scroll-container {
    &:hover {
      box-shadow: 0 -5px 0 0px var(--dark-grey);
    }
  }

  .select:hover ~ .text-wrapper {
    .text-scroll-container {
      box-shadow: 0 -5px 0 0px var(--dark-grey);
    }
  }

  .btn-secondary {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 9px;
  }

  .btn-secondary:active + .text-wrapper {
    .text-scroll-container {
      box-shadow: 0 0 0 0px var(--hovered-grey);
    }
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
