:root {
  --brand: #252a44;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--brand);
  background: #fff;
  color: #000;
  font-size: 18px;
  padding-top: 65px;
  height: 2000px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

select {
  font-size: 20px;
}

input[type="color"] {
  height: 50px;
  width: 50px;
  padding: 10px;
  font-size: 18px;
}
button {
  padding: 10px;
}

.section {
  margin: 10px 0;
}

.foo {
  background: url("./assets/emojiis/dragon_1f409.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.my-shadow {
  transition: 2s transform;
}

.my-shadow-init {
  transition: none;
}

.my-shadow-show {
  transform: translateX(0%);
}

.my-shadow-hide {
  transform: translateX(100%);
}
.my-shadow-hide[first] {
  transform: translateX(-100%);
}

li {
  list-style-type: none;
}
