.main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  background-color: #fff;
  display: flex;
  align-items: center;
  z-index: 50;
}

.container {
  padding: 0 30px;
  width: 100%;
  min-width: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin-right: 25px;
}
.nav {
  display: flex;
  min-width: 0;
}

.links {
  display: flex;
  margin: 0;
  padding: 0;
  overflow-x: auto;
}

.scroll {
  flex-basis: 0px;
  flex-grow: 1;
  flex-shrink: 0;
  min-width: 0;
}

.link,
.github {
  padding: 15px;
}

.github {
  flex-shrink: 0;
  margin-left: 25px;
}

@media (min-width: 600px) {
  .github {
    margin-left: 50px;
  }
}
